body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.header-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.list {
    list-style: none;
}
a {
    text-decoration: none;
}